*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*=== Footer Container ===*/
footer{
    height: 100vh;
    display: grid;
}
footer .end-of-page{
    padding: 40px 25px;
    background-color: black;
    color: #fff;
    text-align: center;
}
footer .end-of-page h2{
    margin-bottom: 20px;
    font-style: italic;
    font-size: 28px;
}
.imageForFooter{
    display: flex;
    align-items: flex-end;
}
.imageForFooter .footer_image{
    width: 340px;
    height: 250px;
    margin-left: 50px;
    animation-name: animateImage;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes animateImage{
    50%{
        transform: translateY(-10px);
    }
}
.end-of-page h2.asking_title{
   animation: animate-title 5s linear infinite;
   color: #0e3742;
   -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
   line-height: 0.70em;
}
@keyframes animate-title{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: #0e3742;
    text-shadow: none;
}
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color: #fff;
    text-shadow: 
    0 0 10px #03bcf4 ,
    0 0 20px #03bcf4 ,
    0 0 40px #03bcf4 ,
    0 0 80px #03bcf4 ,  
    0 0 160px #03bcf4 ;    
}
}
.end-of-page p.footer-paragh{
    margin-top: 35px;
    font-size: 18px;
}
.end-of-page .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
}
.contact .social_contact .contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin: 10px 10px;
    cursor: pointer;
}
.contact .social_contact .contact-details i.icon{
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 30px;  
    margin-right: 30px;
    width: 50px;
}
.contact .social_contact .contact-details i.icon:hover{
    border-radius: 50%;
    background-color: goldenrod;
    color: black;
    transform: rotate(360deg);
    transition: .7s;
}
.contact .social_contact .contact-details .info{
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
}
.contact .social_contact .contact-details .info:hover{
    color: goldenrod;
}
/*=== End Of Footer Container ===*/