/*=== Main Container ===*/ 
main{
    position: relative;
}
main .tutorials-container{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    justify-content: space-between;
}
main .tutorials-container .tutorial-videos{
    width: 90%;
    padding: 10px 10px;
    height: 200px;
    margin-bottom: 20px;
}
.swiper-wrapper{
    display: flex;
    height: 100%;
}
.button-next-one, .button-prev-one, .button-next-two, .button-prev-two, .button-next-three, .button-prev-three{
    top: auto;
    z-index: 1 !important;
}
.swiper-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 90%;
}
.swiper-one, .swiper-two, .swiper-three{
    height: 100%;
}
.swiper-slide{
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: relative;
}
.title-channel, .number-of-followers, .number-of-views,.videos-count{
    font-size: 17px;
    text-align: center;
    font-style: italic;
}
.title-channel{
    margin-top: 10px;
}
.number-of-views, .videos-count{
    position: absolute;
    top: 10px;
    right: 10px;
}
.title-video{
    font-size: 15px;
    text-align: center;
    margin-top: 8px;
}
.number-of-followers, .number-of-views, .videos-count{
    color: red;
    font-family:cursive;
}
.image-slide:hover, .video-image:hover{
    box-shadow: 2px 2px 2px black,
                2px 2px 5px black,
                2px 2px 8px black
    ;
}
.tutorials-title{
    font-size: 33px;
    margin-bottom: 20px;
    font-style: italic;
    color:brown;
    -webkit-text-stroke: 2px brown;
}
.guidance-sentence{
    text-align: center;
    font-style: italic;
    font-size: 18px;
}
.tutorials-container .tutorial-videos h3{
    font-size: 25px;
    font-style: italic;
    color:blue;
    margin-top: 50px;
    font-family: cursive;
    margin-left: 45px;
}
.video-image, .image-slide{
    border-radius: 8px;
    width: 120px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.video-duration{
    position: absolute;
    top: 35px;
    right: 10px;
    font-style: italic;
    font-size: 17px;
    font-family: fantasy;
}
/*=== End Of Main Container ===*/